.app--footer {
    background-color: $gray;
    padding: 20px 0;
    .copyright {
        font-size: 14px;
    }

    .socials {
        margin-top: 0;
        display: flex;

        span {
            margin: 0 0px 0 20px;
            background-color: $blue;
            transition: all .3s ease;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: $secondary;
                transition: all .3s ease;
            }
            svg {
                width: 15px;
                fill: $white;
            }
            &:first-child {
                svg {
                    width: 10px;
                }
            }
        }
    }
}